/*first inline block*/
.as-seen-on {
    background-color: ;
}

html {
    background-color: #ffffff;
}

.nav-menu.tertiary li.is-active a:before,
.nav-menu.tertiary li.current-menu-item a:before {
    border-bottom-color: #ffffff;
}

.site-title a,
.site-title a:hover,
.site-description {
    color: #ffffff;
}

input,
textarea,
input[type=checkbox],
input[type=radio],
.site select,
.facetwp-facet .facetwp-checkbox:before,
.filter_by_tag a:before,
.search-choice-close,
.widget_layered_nav li a:before,
.site-main .content-box select,
.site-main .widget select,
.site-main .job_listings select,
.mfp-content select,
body .chosen-container-single .chosen-single,
body .chosen-container-multi .chosen-choices li.search-field input[type=text],
.select2.select2-container .select2-choice,
.select2.select2-container--default .select2-selection--single,
.select2-container.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container .select2-dropdown,
.facetwp-facet.facetwp-type-fselect .fs-label-wrap,
body .chosen-container .chosen-drop,
body .chosen-container-single .chosen-search input[type=text],
body .chosen-container-single .chosen-search input[type=text]:focus {
    color: #717a8f;
    border-color: #e5e5e5;
    background-color: #ffffff;
}

.wp-editor-container,
.mce-tinymce.mce-container {
    border-color: #e5e5e5;
}

input[type=checkbox]:checked:before,
.facetwp-facet .facetwp-checkbox.checked:after,
.facetwp-facet .facetwp-link.checked,
.facetwp-facet.facetwp-type-fselect .fs-option {
    color: #717a8f;
}

.facetwp-facet.facetwp-type-fselect .fs-arrow {
    border-top-color: #717a8f;
}

input:focus,
textarea:focus {
    background-color: #ffffff;
}

.wc-social-login-divider span:after,
.wc-social-login-divider span:before {
    background-color: #e5e5e5;
}

.listing-cover,
.entry-cover,
.homepage-cover.page-cover,
.list-cover {
    background-color: #f5f5f5;
}

body,
.listify_widget_panel_listing_tags .tag,
.entry-cover.no-image,
.entry-cover.no-image a,
.listing-cover.no-image,
.listing-cover.no-image a:not(.button),
.content-pagination .page-numbers,
.facetwp-pager .facetwp-page,
.js-toggle-area-trigger,
.job-dashboard-actions a,
.job-manager-bookmark-actions a,
body.fixed-map .site-footer,
body.fixed-map .site-footer a,
.homepage-cover .job_search_form .select:after,
.tabbed-listings-tabs a,
.archive-job_listing-toggle,
.job-manager-form fieldset.fieldset-job_hours,
.filter_by_tag a,
a.upload-images,
a.upload-images span,
.woocommerce-tabs .tabs a,
.cluster-overlay a,
.map-marker-info,
.map-marker-info a,
.archive-job_listing-layout.button.active,
.entry-title--grid a,
.entry-read-more,
.listing-by-term-title a,
.map-widget-sections a,
.select2-default,
.select2-container .select2-choice,
.select2-container-multi .select2-choices .select2-search-choice,
.no-image .listing-stars--single .listing-star,
.pm-column a,
.astoundify-favorites-tab {
    color: #717a8f;
}

.no-image .astoundify-favorites-icon svg {
    fill: #717a8f;
}

.comment-meta a,
.commentlist a.comment-ago,
div:not(.no-image) .star-rating:before,
div:not(.no-image) .stars span a:before,
.job_listing-author-descriptor,
.entry-meta,
.entry-meta a,
.home-widget-description,
.listings-by-term-content .job_listing-rating-count,
.listings-by-term-more a,
.search-form .search-submit:before,
.mfp-content .mfp-close:before,
div:not(.job-package-price) .woocommerce .amount,
.woocommerce .quantity,
.showing_jobs,
.account-sign-in,
.archive-job_listing-layout.button {
    color: #949db2;
}

.social-profiles a,
.listing-gallery-nav .slick-dots li button:before {
    background-color: #949db2;
}

a,
.single-job_listing .widget a:not(.button),
.listify_widget_panel_listing_content a {
    color: #2854a1;
}

a:active,
a:hover,
.primary-header .current-account-toggle .sub-menu a {
    color: #0f3b88;
}

.search-overlay,
.primary-header {
    background-color: #2854a1;
}

.primary.nav-menu .current-cart .current-cart-count {
    border-color: #2854a1;
}

.nav-menu a,
.nav-menu li:before,
.nav-menu li:after,
.nav-menu a:before,
.nav-menu a:after {
    color: #2854a1;
}

.nav-menu ul a,
.nav-menu.primary ul ul a,
.nav-menu.primary ul ul li:before,
.nav-menu.primary ul ul li:after {
    color: #2854a1;
}

.main-navigation {
    background-color: #ffffff;
}

.navigation-bar-toggle,
.search-overlay-toggle {
    color: #717a8f;
}

.tertiary-navigation {
    background-color: #ffffff;
}

.tertiary-navigation .navigation-bar-toggle {
    color: #717a8f;
}

.listify_widget_panel_listing_tags .tag.active:before,
.job-package-includes li:before,
.woocommerce-tabs .tabs .active a,
body:not(.facetwp) .locate-me:before,
.woocommerce .quantity input[type="button"],
.astoundify-favorites-tab--active,
.astoundify-favorites-tab--active:focus,
.astoundify-favorites-tab--active:hover {
    color: #2854a1;
}

input[type="button"].facetwp-reset:hover,
input[type="button"].facetwp-reset:focus,
.tabbed-listings-tabs a:hover,
.tabbed-listings-tabs a.active,
.archive-job_listing-toggle.active,
body:not(.facetwp) .locate-me:hover:before {
    color: #05317e;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.facetwp-type-slider .noUi-connect,
.ui-slider .ui-slider-range,
.listing-owner,
.comment-rating,
.job_listing-rating-average,
.map-marker.active:after,
.cluster,
.widget_calendar tbody a,
.load_more_jobs,
.listify-badge,
.listing-featured-badge,
button.update_results,
.select2-container.select2-container--default .select2-results__option--highlighted[aria-selected],
.astoundify-favorites-submit-field button {
    background-color: #2854a1;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus,
::selection,
button.update_results:hover,
button.update_results.refreshing,
.load_more_jobs:hover,
.astoundify-favorites-submit-field button:hover {
    background-color: #234f9c;
}

::-moz-selection {
    background-color: #234f9c;
}

.tabbed-listings-tabs a:hover,
.tabbed-listings-tabs a.active,
.archive-job_listing-toggle.active,
li.job-package:hover,
.job_listing_packages ul.job_packages li:not(.package-section):hover,
.facetwp-type-slider .noUi-horizontal .noUi-handle,
.facetwp-type-slider .noUi-horizontal .noUi-origin,
.ui-slider .ui-slider-handle,
.search-radius-slider .noUi-handle,
.search-radius-slider .noUi-origin,
.woocommerce-message,
.job-manager-message,
.woocommerce-info {
    border-color: #2854a1;
}

.listing-featured--outline .job_listing-entry-header:before {
    box-shadow: inset 0 0 0 3px #2854a1;
}

.widget_layered_nav li.chosen a:after,
.widget_layered_nav li.chosen a,
.upload-images:hover .upload-area,
.job_listing_packages ul.job_packages li label,
.upload-images:hover,
.search-choice-close:after,
.filter_by_tag a.active:after,
.woocommerce-tabs .tabs .active a {
    color: #2854a1;
}

.button-secondary,
input[type="button"].facetwp-reset,
.type-product .onsale,
.type-product .price ins,
.job-package-tag {
    background-color: #2854a1;
}

.button-secondary:hover,
.button-secondary:focus,
input[type="button"].facetwp-reset:hover,
input[type="button"].facetwp-reset:focus {
    background-color: #234f9c;
}

.upload-images:hover {
    border-color: #2854a1;
}

.site-footer-widgets {
    color: #ffffff;
    background-color: #2854a1;
}

.footer-widget,
.footer-widget a,
.footer-widget a:hover,
.site-social a:hover {
    color: #ffffff;
}

.site-footer,
.site-social a {
    color: #a1b5d6;
}

.site-footer {
    background-color: #22498e;
}

.claimed-ribbon span:before {
    color: #2854a1;
}

body {
    /* padding-top: 75px; */
}

.content-box,
.content-shop-wrapper .archive-job_listing-filters-wrapper.top.type-product,
.home-feature,
.job-package,
.job_filters,
.listify_widget_search_listings.home-widget .archive-job_listing-filters-wrapper.top.job_search_form,
.listify_widget_search_listings.home-widget .job_search_form,
.listing-by-term-inner,
.single-job_listing-description,
.tabbed-listings-tabs a,
.tabbed-listings-tabs a.archive-job_listing-filters-wrapper.top,
.type-product .thumbnails a,
.type-product .thumbnails a.archive-job_listing-filters-wrapper.top,
.widget,
.woocommerce div.product div.archive-job_listing-filters-wrapper.top.summary,
.woocommerce div.product div.summary,
.woocommerce-main-image,
.woocommerce-page div.product div.archive-job_listing-filters-wrapper.top.summary,
.woocommerce-page div.product div.summary,
.woocommerce-tabs,
.archive-job_listing-layout,
.nav-menu .children.category-list .category-count,
.nav-menu .sub-menu.category-list .category-count,
ul.nav-menu .children.category-list .category-count,
ul.nav-menu .sub-menu.category-list .category-count,
.facetwp-pager .facetwp-page,
.job-manager-pagination li a,
.job-manager-pagination li span,
.js-toggle-area-trigger,
.site .facetwp-sort select,
a.page-numbers,
span.page-numbers,
.archive-job_listing-toggle-inner {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    border: 0;
}

.comment-reply-title,
.entry-content .rcp_form .rcp_subscription_fieldset .rcp_subscription_message,
.entry-content .rcp_header,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.job-manager-form h2,
.job_listing_packages ul.job_packages .package-section,
.listify_widget_panel_listing_content h2,
.listify_widget_panel_listing_content h3,
.listify_widget_panel_listing_content h4,
.listing-by-term-title,
.widget-title,
.woocommerce-account .woocommerce legend,
.woocommerce-tabs .tabs a,
.account-sign-in,
.job-manager-form fieldset.fieldset-job_hours,
.ninja-forms-required-items,
.showing_jobs,
.woocommerce-tabs .woocommerce-noreviews,
.payment_methods li .payment_box,
button.more-filters__toggle,
button.more-filters__toggle:hover {
    border-color: #f4f4f4;
}

.ui-slider,
.ui-slider-range,
.search-radius-slider .noUi-target,
.payment_methods li {
    background-color: #f4f4f4;
}

.listing-entry-company-image {
    border-color: #ffffff;
    background-color: #ffffff;
}

button.more-filters__toggle,
button.more-filters__toggle:hover,
button.more-filters__toggle:focus {
    color: #717a8f;
    border-color: #efefef;
    background-color: #ffffff;
}

button.more-filters__toggle:hover,
button.more-filters__toggle:focus {
    border-color: #e5e5e5;
}

:not(.wp-core-ui) button,
body,
input,
select,
textarea {
    font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.page-title,
.job_listing-title,
.popup-title,
.homepage-cover .home-widget-title {
    font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.widget-title,
.comment-reply-title {
    font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.home-widget-title,
.callout-feature-content h2,
.home-feature-title h2 {
    font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.home-widget-description {
    font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

button:not([role="presentation"]),
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
    font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

@media screen and (min-width: 992px) {
    .site-header--transparent .primary-header {
        background-color: transparent;
    }

    .nav-menu.primary ul ul a:hover,
    .nav-menu.secondary ul ul a:hover,
    .nav-menu.tertiary ul ul a:hover {
        color: #0f3b88;
    }

    .nav-menu.primary a,
    .nav-menu.primary li:before,
    .nav-menu.primary li:after,
    .nav-menu.primary a:before,
    .nav-menu.primary a:after {
        color: #ffffff;
    }

    .nav-menu.secondary>li>a,
    .nav-menu.secondary>li>a:before,
    .nav-menu.secondary>li>a:after,
    .nav-menu.secondary>li:before,
    .nav-menu.secondary>li:after {
        color: #717a8f;
    }

    .nav-menu .children.category-list .container:before,
    .nav-menu .sub-menu.category-list .container:before,
    ul.nav-menu .children.category-list .container:before,
    ul.nav-menu .sub-menu.category-list .container:before {
        border-top-color: #ffffff;
    }

    .nav-menu.tertiary>ul>li>a,
    .nav-menu.tertiary>li>a,
    .nav-menu.tertiary>li>a:before,
    .nav-menu.tertiary>li>a:after,
    .nav-menu.tertiary>li:before,
    .nav-menu.tertiary>li:after {
        color: #717a8f;
    }

    .primary.nav-menu .current-cart .current-cart-count,
    .mail-icon--unread:after {
        color: #2854a1;
        background-color: #ffffff;
    }

    :not(.wp-core-ui) button,
    body,
    input,
    select,
    textarea {
        font-size: 14px;
        line-height: normal;
    }

    .page-title,
    .job_listing-title,
    .popup-title,
    .homepage-cover .home-widget-title {
        font-size: 32px;
        line-height: normal;
    }

    .homepage-cover .home-widget-title {
        font-size: 48px;
    }

    .widget-title,
    .comment-reply-title {
        font-size: 16px;
        line-height: 1;
    }

    .home-widget-title {
        font-size: 30px;
        line-height: normal;
    }

    .home-widget-description {
        font-size: 16px;
        line-height: normal;
    }

    button:not([role="presentation"]),
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .button {
        font-size: 15px;
        line-height: normal;
    }
}

@media screen and (min-width: 768px) {
    .nav-menu.secondary .sub-menu.category-list {
        background-color: #ffffff;
    }
}

@media screen and (min-width: 1200px) {
    .homepage-cover {
        background-attachment: initial;
    }
}








/*2nd inline block*/
.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}











/*3rd inline block*/
.flighttext {
    max-width: 74%;
}


#site-navigation {
    display: none;
}

#menu-primary .menu-item-search {
    display: none;
}

.no {
    color: #00ff99;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
}

.col-sm-6.one {
    margin-top: 60px;
    margin-bottom: 80px;
}

ul.sss li {
    list-style: none;
}

ul.sss li i {
    padding-right: 5px;
}

@media screen and (max-width: 1920px) and (min-width: 1450px) {
    .header_text {
        padding-top: 100px;
    }

    .formtabsection {
        z-index: 999;
        margin-top: -230px;
    }
}

@media screen and (max-width: 1440px) {
    .header_text {
        padding-top: 80px !important;
    }
}

@media screen and (max-width: 1024px) {
    #header-widget-area p.call-text {
        font-size: 14px !important;
    }
}

@media (min-width:768px) {
    #quote-carousel p.paragraph {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .Travel_exp_head h6 {
        font-size: 22px;
    }

    .Travel_exp_head h1 {
        font-size: 45px;
    }

    .Travel_exp_head p {
        font-size: 24px;
        margin-top: 10px;
    }

    .bitd {
        font-size: 22px !important;
    }

    .iconshadow {
        max-width: 100% !important;
        flex: 100% !important;
    }

    .flight {
        height: auto !important;
        margin-top: 60px;
    }

}

@media screen and (max-width: 767px) {
    .how_work {
        padding: 0px 0px;
    }

    .flightblk_sec>h1 {
        font-size: 20px;
    }

    .imgbox {
        padding-top: 34px;
    }

    .box-work {
        margin-top: 34px;
    }

    .Travel_exp_about {
        padding-top: 0px;
    }

    .Travel_exp_about {
        margin: 0px 0px 50px 0px;
    }

    a.no {
        font-size: 18px;
    }
}

@media screen and (max-width: 580px) {
    .site-branding {
        width: 50%;
    }

    #header-widget-area p.call-text {
        font-size: 13px;
    }

    .Travel_exp_head h6 {
        font-size: 18px;
    }

    .Travel_exp_head h1 {
        font-size: 30px;
    }

    .Travel_exp_head p {
        font-size: 18px;
        margin-top: 20px;
    }

    .bitd {
        font-size: 18px !important;
    }

    .Travel_exp_about h2 {
        font-size: 28px;
        margin-top: 0px;
    }

    .top {
        font-size: 20px !important;
    }

    .image-gallery {
        margin-top: 20px;
    }

    .Travel_fullimg_sec h2 {
        font-size: 30px;
    }

    .Travel_fullimg_sec h3 {
        font-size: 20px;
    }

    span.n {
        font-size: 22px !important;
        font-weight: bold;
    }

    .Travel_fullimg_sec a.travel_btn {
        font-size: 18px;
    }

    .travel_works {
        margin: 40px 0px 135px 0px;
    }

    .work_head {
        margin-bottom: 10px;
    }

    .work_box {
        box-shadow: 0 6px 48px 5px #d2deea;
    }

    .businessflightsec.jumbotron.text-center h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .flight {
        background-color: #f0f0f0;
        margin-top: 60px;
        height: auto;
        margin-bottom: 50px;
    }

    button.btn.btn-primary.btn-read.btn--animated {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .travel_works h2 {
        margin: 15px 0px 0px 0px;
    }

    .footer-widget-column {
        margin-bottom: 1.5em;
    }

    ul.sss {
        font-size: 21px;
        line-height: 40px !important;
        padding-top: 0px !important;
        padding-left: 0px !important;
    }

    .col-sm-6.one {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .col-sm-6.one.ddd {
        margin-top: 20px;
    }

    .formconta input {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .formtabsection .nav-item {
        background: #fff none repeat scroll 0 0;
    }

    .image-gallery {
        height: 220px !important;
    }

    .tit {
        font-size: 20px !important;

    }

    .bannercontent h1 {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 320px) {
    .Travel_exp_head h1 {
        margin-top: 0px;
        font-size: 26px;
    }

    .Travel_fullimg_sec h2 {
        font-size: 18px;
    }
}

.media .media-body .mt-0.mb-1 {
    padding-top: 20px !important;
}

.chw-widget a {
    color: #fff;
}

.list-icon li {
    display: contents;
}

.ml-3 {
    width: 80px !important;
}

.list-icon li img {
    padding-bottom: 10px;
}

.logo-center {
    text-align: center;
    margin-bottom: 20px;
}

.social_media i {
    background: #fff;
    text-align: center;
    padding: 0px 5px;
    border-radius: 5px;
}

.social_media li {
    color: #fff;
    float: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;
    width: auto;
    padding-right: 0;
}

.footer-wrapper li i {
    color: #7D7D7D;
}

.footer-wrapper h4::after {
    border-bottom: none;
}

.footer-wrapper h4 {
    color: #fff;
}

@media screen and (max-width: 991px) {
    #site-navigation {
        display: block;
    }

    .ion-search.search-overlay-toggle {
        display: none;
    }

    .mobile-nav-menu-label {
        display: none;
    }

    .secondary.nav-menu {
        display: none;
    }

    #site-navigation .navigation-bar-toggle,
    .search-overlay-toggle {
        color: #ffffff;
        position: absolute;
        top: -50px;
        margin-left: 10px;
    }
}

.datepickerinputbox select {
    padding: 0 6px !important;
}

.formtabsection .nav-tabs li a,
.countrytabsection .nav-tabs li a {
    padding: 10px 18px;
}

@media screen and (max-width: 575px) {
    .counheader_text {
        padding-top: 0;
    }

    .countrytabsection .tab-content {
        padding: 15px 0px;
    }

    .Travel_exp_head {
        height: 140vh !important;
    }

    button.btn.btn-primary.btn-read.btn--animated {
        margin: 0 auto 40px;
        display: table;
    }

    .flightblk_sec>p {
        margin-top: 1.7rem;
    }

    .Travel_exp_head h1 {
        margin-top: 0px;
        font-size: 18px !important;
    }

    .logo-center img {
        width: 100%;
    }

    .site-branding {
        width: 60%;
    }

    a.no {
        font-size: 13px;
    }

    #header-widget-area p.call-text {
        font-size: 9px !important;
        line-height: 10px !important;
        margin-top: 0 !important;
    }

    .desc p {
        min-height: inherit !important;
    }
}

i.fa.fa-check-circle.green {
    float: left;
    width: 5%;
}

span.buidata {
    float: left;
    width: 90%;
    line-height: 30px;
}

.col-sm-6.one {
    margin-top: 0;
    margin-bottom: 40px;
}

ul.sss {
    font-size: 21px !important;
    line-height: 33px !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
}

.textwidget p {
    text-align: center !important;
    margin: 0;
}

.footer-widget-column {
    margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
    span.buidata {
        width: 86%;
    }

    .navigation-bar-wrapper.active {
        background: rgba(255, 255, 255, 0.9);
    }

    .nav-menu .children,
    .nav-menu .sub-menu,
    ul.nav-menu .children,
    ul.nav-menu .sub-menu {
        background: none !important;
    }

    .flightform .formright,
    .flightform .formleft {
        max-width: 100%;
    }

}

@media screen and (max-width: 360px) {
    span.buidata {
        width: 80%;
        font-size: 15px;
    }

    .flightblk_sec {
        margin-top: 0rem !important;
    }

    #referralform input {
        line-height: 26px;
    }

    .flightblk_sec>h1 {
        font-size: 15px;
        margin: 15px 0;
    }

    .flightblk_sec>p {
        font-size: 15px;
    }

    .container.imgbox {
        padding: 0;
    }

    .rules-quesions.col-sm-12 {
        padding-top: 20px;
        padding-bottom: 75px;
    }

    .rules h2 {
        margin: 0;
        font-size: 16px;
    }

    .rules h6 {
        margin: 0;
    }

    .rules h4 {
        font-size: 16px;
        margin: 5px 0;
        font-weight: 600;
    }

    .col-sm-5.rules h3 {
        margin: 0;
        font-size: 18px;
    }

    .flighttext h5 {
        padding: 0 0px;
    }

    .how_work h6 {
        margin: 0;
    }

    .how_work h2 {
        font-size: 25px;
    }

    i.fa.fa-check-circle.green {
        width: 3%;
        line-height: 31px;
        font-size: 20px;
    }

    .rules p {
        font-size: 15px !important;
    }

    .Travel_exp_head h6 {
        margin-bottom: 9px;
    }
}

.flightblk_sec {
    margin-top: 3rem;
}

.desc p {
    margin: 0;
}

.nav-menu .children,
.nav-menu .sub-menu,
ul.nav-menu .children,
ul.nav-menu .sub-menu {
    background: rgba(255, 255, 255, 0.9);
}

.nav-menu ul a,
.nav-menu.primary ul ul a,
.nav-menu.primary ul ul li:before,
.nav-menu.primary ul ul li:after {
    font-weight: 400;
}

.formconta input {
    width: 100%;
}

.flighttext h5 {
    margin-top: 20px;
}

button.btn.btn-primary.btn-read.btn--animated {
    margin-top: 30px;
}

.radio-but input[type="radio"] {
    border: 1px solid #ccc;
}

hr.footerborderline {
    border-bottom: 2px solid #5c5c5e;
    height: 0;
    margin-top: -45px;

}

.site-footer-widgets .logo-center img {
    background: #2C2C2C;
    padding: 0px 20px;
}

footer .footer-widget-column {
    margin-top: 20px;
}

.page-id-523 .content-box-inner p {
    color: #000;
    font-size: 15px;
    margin-bottom: 10px;
}

.page-id-523 .content-box-inner strong {
    font-size: 18px;
}

.page-id-3 .entry-content p {
    font-size: 15px;
    margin-bottom: 10px;
}

.page-id-3 .entry-content b {
    font-size: 18px;
}

/*5-01-2019*/
.site-footer-widgets {
    background-color: transparent;
}

.footer-wrapper {
    background-image: url(../img/footer_image-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    width: 100%;
}

.list-icon li {
    display: inline-block;
    width: AUTO;
}

.iconshadow .media-body p {
    text-align: inherit;
    float: left;
    margin: 0;
    padding: 0;
    width: 70%;
}

span.customicon {
    float: right;
    width: 30%;
    text-align: center;
}

.footer-widget-column .social_media i {
    background: none;
    color: #fff;
}

.datepickerinputbox input {
    padding: 0px 3px;
}

@media (min-width:1200px) and (max-width:1350px) {
    .flighttext h5 {
        font-size: 24px;
    }

    .flightquote button.btn.btn-primary.btn-read.btn--animated {
        margin-top: 40px;
        font-size: 16px;
        padding: 10px 10px;
    }

    .flight {
        height: auto;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    p.tit {
        font-size: 18px;
    }

    .flighttext h5 {
        font-size: 24px;
    }

    .flightquote button.btn.btn-primary.btn-read.btn--animated {
        margin-top: 40px;
        font-size: 16px;
        padding: 10px 10px;
    }

    .flight {
        height: auto;
    }

    #referralform label {
        font-size: 12px;
    }

    .work_box p {
        min-height: 100px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .flight .flighttext {
        max-width: 70%;
        flex: 0 0 70%;
    }

    .flightquote {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .flighttext h5 {
        font-size: 24px;
    }

    .flightquote button.btn.btn-primary.btn-read.btn--animated {
        margin-top: 70px;
        font-size: 16px;
        padding: 10px 10px;
    }

    #referralform label {
        font-size: 12px;
    }

    .country_head.Travel_exp_head p {
        font-size: 24px;
    }

    .country_head .counheader_text {
        padding-top: 70px;
    }

    .Travel_exp_head .header_text p {
        font-size: 24px;
        margin-top: 10px;
    }

    .header_text {
        padding-top: 30px !important;
    }

    #formtabsection.formtabsection {
        margin-top: -290px;
    }

    .header_text span.bitd {
        font-size: 24px;
    }

    .customicon img {
        width: 40px;
    }

    .iconshadow p.customdata {
        font-size: 14px !important;
    }

    .work_box p {
        min-height: 100px;
    }

    #site-navigation .navigation-bar-toggle,
    .search-overlay-toggle {
        top: -45px;
    }

    .delbtn .delmultirow {
        padding: 10px 15px;
    }

    input.btn.btn-primary.quotebtn {
        font-size: 12px !important;
        padding: 13px 0px !important;
    }

    input.btn.btn-primary.quotebtn.nextbtn,
    input.btn.btn-primary.quotebtn#addmultirow {
        font-size: 15px !important;
        padding: 11px 0px !important;
    }

    #site-navigation .navigation-bar-toggle,
    .search-overlay-toggle {
        left: 1%;
        top: -67px;
    }
}

@media(min-width:768px) {
    .site-footer-widgets .footer-widget-column {
        max-width: 33%;
    }

    .footerbottom .footer-widget-column.footercopyright {
        max-width: 100% !important;
        margin-bottom: 0;
    }

    .footerbottom .footer-widget-column.footerlink {
        max-width: 100% !important;
        margin-bottom: 0;
    }

    .referalblk {
        max-width: 24%;
        flex: 0 0 24%;
    }

    .divReferrals {
        max-width: 49%;
        flex: 0 0 49%;
    }

    .rules-restric {
        max-width: 58%;
        flex: 0 0 58%
    }

    i.fa.fa-check-circle.green {
        width: 4%;
    }

    div.scrolldiv {
        max-height: 610px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@media (max-width:767px) {
    .flighttext {
        max-width: 100% !important;
        flex: 0 0 100% !important;
        text-align: center;
    }

    .flighttext h5 {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .flightquote {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-control.flightfrom,
    .form-control.flightto {
        line-height: 27px;
    }

    .Travel_exp_head.country_head {
        height: auto !important;
        background-size: contain !important;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .work_section .workblk {
        max-width: 75%;
        flex: 0 0 100%;
        margin: auto;
    }

    .referalblk {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .rules {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .referalform .form-group {
        float: left;
    }

    #referralform input {
        height: 60px;
    }

    .Travel_exp_head {
        height: 270vh !important;
    }

    .footer-widget-column.footercopyright {
        max-width: 100%;
    }

    .footer-widget-column.footerlink {
        max-width: 100%;
        text-align: center;
    }

    .footer-widget-column.footerlink p {
        text-align: center;
        float: none !important;
    }

    .footer-wrapper h4 {
        font-size: 14px;
    }

    .site-footer-widgets .footer-widget-column {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (max-width:575px) {
    .flight .flighttext {
        max-width: 100%;
        flex: 0 0 0 100%;
        text-align: center;
    }

    .work_section .workblk {
        max-width: 100%;
    }

    .referalform .form-group {
        float: left;
        width: 100%;
    }

    .Travel_exp_head {
        height: 270vh !important;
    }

    .footer-widget-column.footerlink p {
        text-align: center;
        float: none !important;
    }
}

@media (min-width:481px) and (max-width:767px) {
    .Travel_exp_about .countryblks {
        max-width: 75%;
        margin: auto;
        flex: 0 0 100%;
    }

    .countryblks .image-gallery {
        height: 300px !important;
    }
}

@media (max-width:480px) {
    .Travel_exp_about .countryblks {
        max-width: 100%;
    }
}

.footerbottom {
    float: left;
    width: 100%;
}


/* <style id="fit-vids-style"> */
.fluid-width-video-wrapper {
    width:100%;position:relative;padding:0;
}
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*4th inline block*/
[data-columns]::before{visibility:hidden;position:absolute;font-size:1px;}



/*form fix*/
.formleft,
.formright,
.formleft .datepickerinputbox,
.formright .datepickerinputbox,
.formright .nextdiv,
#request-btn,
#multi-add-btn,
.delbtn,
.multi-quote {
    float: left;
}







/* bottom inline stuff */
span.bitd {
    font-size: 45px;
    font-weight: bold;
}
span.top {
    font-size: 27px;
    font-weight: bold;
}
.image-gallery {
    background-image: url(../img/Italy_main-1.jpg);
    height: 400px;

    background-repeat: no-repeat;
    background-position: center;
}
.image-gallery.a {
    background-image: url(../img/Spain_main-1.jpg);
    height: 400px;

    background-repeat: no-repeat;
    background-position: center;
}
.image-gallery.b {
    background-image: url(../img/Japan_main-1.jpg);
    height: 400px;

    background-repeat: no-repeat;
    background-position: 30%;
}
.image-gallery.c {
    background-image: url(../img/France_main-1.jpg);
    height: 400px;

    background-repeat: no-repeat;
    background-position: center;
}
.image-gallery.d {
    background-image: url(../img/United-Kingdom_main-1.jpg);
    height: 400px;

    background-repeat: no-repeat;
    background-position: 40%;
}
.image-gallery.e {
    background-image: url(../img/Germany_main-1.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}
img.ml-3.vb {
    width: 21%;
}
img.ml-3.ds {
    width: 35%;
}
img.ml-3.ff {
    width: 39%;
}
p.tit {
    font-size: 32px;
    padding-bottom: 10px;
}
.image-gallery.a {
    border-radius: 14px;
}
p.tit {
    font-size: 26px;
    padding-bottom: 15px;
}

tooltip-inner{
  background:#236aac !important;
  width:300px !important;
}

.tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
   background:#236 !important;
    border-radius: 4px;
}

.container.bottom {
    text-align: center;
}
.image-gallery {border-radius: 14px;}
.Travel_exp_about {
    padding-top: 33px;
}
span.n {
    font-size: 30px;
}
.Travel_exp_head {
    background-image: url(../img/headerflight.jpg);
    background-size: cover;
    background-position: center;
    height: 500px !important;
}